// .bgStyle{
// 	background-color: #ccc;
// }

.ios, .md{

    .header-image{
      background: url('../assets/imgs/logo.jpg') no-repeat;
      height: 30%;
      background-size: cover;
      background-position: center center;
    }


    
  }